.viewAnsModal{
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 45%;
  transform: translate(-50%,-50%);
  z-index: 3;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  overflow: auto;
  overflow-x: hidden;
}