.viewAnsModal{
  position: fixed;
  top: 50%;
  left: 50%;
  width: 35%;
  height: 40%;
  transform: translate(-50%,-50%);
  z-index: 3;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  overflow: auto;
  overflow-x: hidden;
}

.answertitle{
  font-size: 16px;
  font-weight: 650;
  margin-top: 15px;
  text-transform: uppercase;
  color: var(--blue-mojo);
}
.answerSection{
  padding: 20px 12px 0px 12px;
}
.answerContentTable {
  width: 100%;
  border-collapse: collapse;
}
.answerContentTable th, td {
  border: 1px solid rgba(0, 0, 0, 0.247);
  padding: 8px;
  text-align: center;
  
}